@tailwind base;
@tailwind components;
@tailwind utilities;

 

body {
   
  background:#EEE;
}
/* Define custom scrollbar properties */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width to make it thinner */
  border-radius: 10px; /* Add rounded corners */
}

/* Define scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Define scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #45C5C1; /* Color of the thumb */
  border-radius: 10px; /* Add rounded corners to the thumb */
}

/* Define scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #349a96; /* Color of the thumb on hover */
}

