@tailwind base;
@tailwind components;
@tailwind utilities;

 

body {
   
  background:#EEE;
}
/* Define custom scrollbar properties */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width to make it thinner */
  border-radius: 10px; /* Add rounded corners */
}

/* Define scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Define scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #45C5C1; /* Color of the thumb */
  border-radius: 10px; /* Add rounded corners to the thumb */
}

/* Define scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #349a96; /* Color of the thumb on hover */
}


@media screen and (min-width: 320px) {
  .team-heading{
  
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    font-size: larger;
    position: relative;
  }
  .team-heading:before {
    content: "";
    display: block;
    width: 90px;
    height: 5px;
    background: #45C5C1;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .team-heading:after {
    content: "";
    display: block;
    width: 90px;
    height: 5px;
    background: #45C5C1;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
@media screen and (min-width: 375px) {
  .team-heading{
  
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    font-size: larger;
    position: relative;
  }
  .team-heading:before {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #45C5C1;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .team-heading:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #45C5C1;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
@media screen and (min-width: 425px) {
  .team-heading{
  
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    font-size: 25px;
    position: relative;
  }
  .team-heading:before {
    content: "";
    display: block;
    width: 140px;
    height: 5px;
    background: #45C5C1;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .team-heading:after {
    content: "";
    display: block;
    width: 140px;
    height: 5px;
    background: #45C5C1;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
@media screen and (min-width: 700px) {
  .team-heading{
  
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    font-size: 30px;
    position: relative;
  }
  .team-heading:before {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    background: #45C5C1;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .team-heading:after {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    background: #45C5C1;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .team-heading{
  
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    font-size: 40px;
    position: relative;
  }
  .team-heading:before {
    content: "";
    display: block;
    width: 190px;
    height: 5px;
    background: #45C5C1;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .team-heading:after {
    content: "";
    display: block;
    width: 190px;
    height: 5px;
    background: #45C5C1;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
@media screen and (min-width: 320px) {
  .about-heading{
    position: relative;
    padding-left: 20px;
    
  }
  .about-heading:before {
    content: " ";
    display: block;
    width: 2px;
    height: 100px;
    background: #45C5C1;
    left: 0;
    top: -40%;
    position: absolute;
  }
}
@media screen and (min-width: 1000px) {
  .about-heading{
    position: relative;
    padding-left: 20px;
    
  }
  .about-heading:before {
    content: " ";
    display: block;
    width: 2px;
    height: 130px;
    background: #45C5C1;
    left: 0;
    top: -40%;
    position: absolute;
  }
}
@media screen and (min-width: 320px) {
  .about-heading2{
    position: relative;
    padding-left: 10px;
    
  }
  .about-heading2:before {
    content: " ";
    display: block;
    width: 2px;
    height: 60px;
    background: #45C5C1;
    left: 0;
    top: -40%;
    position: absolute;
  }
}
@media screen and (min-width: 1000px) {
  .about-heading2{
    position: relative;
    padding-left: 10px;
    
  }
  .about-heading2:before {
    content: " ";
    display: block;
    width: 2px;
    height: 90px;
    background: #45C5C1;
    left: 0;
    top: -40%;
    position: absolute;
  }
}
@media screen and (min-width: 320px) {
  .about-heading2{
    position: relative;
    padding-left: 10px;
    
  }
  .about-heading2:before {
    content: " ";
    display: block;
    width: 2px;
    height: 60px;
    background: #45C5C1;
    left: 0;
    top: -40%;
    position: absolute;
  }
}
@media screen and (min-width: 1000px) {
  .about-heading2{
    position: relative;
    padding-left: 10px;
    
  }
  .about-heading2:before {
    content: " ";
    display: block;
    width: 2px;
    height: 90px;
    background: #45C5C1;
    left: 0;
    top: -40%;
    position: absolute;
  }
}
